.App {
  text-align: center;
  margin: 0;
}

body {
  height: 100vh;
  width: auto;
  margin: 0;
  background-color: #c8d5b9;
}

.Credential_list {
  padding: 0;
  margin: 2em;
  overflow: overlay;
  border-radius: 0.6em;
  border: 2px solid #8fc0a9;
}
